<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<style>
td {
	padding: 5px;
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table border="1">
		<tr th:each="product : ${products}">
			<td th:text="${product.name}">Name</td>
			<td th:text="${product.price}">Price</td>
			<td th:text="${product.quantity}">Price</td>
		</tr>
		<tr>
			<td>Total:</td>
			<td th:text="${total}">Total</td>
		</tr>
	</table>
	<br />
	<table>
		<tr>
			<td th:text="${message}">Message</td>
		</tr>
	</table>
</body>
</html>